<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="{% url 'account_index' %}">Список аккаунтов</a>
        <a href="{% url 'shop_index' %}">Список товаров</a>
        <a href="{% url 'shop_view_cart' %}">Корзина</a>
        <a href="{% url 'shop_orders' %}">Заказы</a>
        <a href="{% url 'account_login' %}">Войти</a>
        <a href="{% url 'account_register' %}">Регистрация</a>
        <a href="{% url 'account_logout' %}">Выйти</a>
      </li>
    </ul>
    {% block content %} {% endblock %}
  </body>
</html>
